<!DOCTYPE html>
<html>

<head>
    <title>Moog Sub37 Users Club - info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel='stylesheet' href='/css/appstyle.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>

<body>

    <header>
        <div class="jumbotron hidden-xs">
        </div>
        <!-- jumbotron -->

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/sub" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"><span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/sub">The Sub37</a></li>
                                <li><a href="/soundbasic">The Basics of Sound</a></li>

                            </ul>
                        </li>
                        <li><a href="/soundclips">Sound Clips</a></li>
                        <!-- create link for Feedback -->
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/chat">Chat</a></li>
                    </ul>
                    <!-- nav -->
                </div>
                <!-- navbar-collapse -->
            </div>
            <!-- container -->
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="eventslist">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="eventslist-title">BASICS OF SOUND</h3>
                                <p class="eventslist-name">
                                    <img class="eventslist-img img-circle pull-left" src="/images/subtractive.jpeg" alt="sub37 panel"> Subtractive Synthesis...</p>
                                <p>If you’re new to the world of music synthesis, it helps to have at least a rudimentary understanding of music and acoustics. Even if you know this stuff like the back of your hand, it never hurts to approach it from a fresh
                                    perspective. </p>
                                <p>Several qualities distinguish one musical sound from another, including <strong>pitch, loudness, duration, and
                                    timbre</strong>. Being able to manipulate those qualities allows you to turn raw sound into music. Simply put, sound occurs when a vibrating object causes the air around it to vibrate. That object could be a guitar
                                    string, a loudspeaker, or anything capable of rapid movement. </p>
                                <p>An individual vibration is called a wave or cycle, and the rate of vibration is called frequency. Frequency determines the sound’s pitch, and pitch determines how high or how low you perceive the sound on a musical scale.
                                    Frequency is measured in Hertz (abbreviated Hz), which describes the actual number of times that something vibrates every second. One thousand cycles per second is called a kilohertz (kHz). </p>
                                <p>Amplitude—the intensity of vibration—determines a sound’s loudness. A high-amplitude sound is loud, and a low-amplitude sound is soft. A vibrating source’s loudness depends on the amount of air it displaces, and that depends
                                    on how hard it vibrates. </p>
                                <p>It’s difficult for anyone to identify a musical instrument simply by the pitch or loudness of the sounds it makes. Every musical sound also has a characteristic tone color or timbre (pronounced tam’–br, as in tamborine,
                                    not tim’–br, as in a tree falling). Differences in timbre make it possible to distinguish one instrument from another. </p>
                                <p>If you analyze a single cycle of a musical sound, you can perceive it as a complex combination of simple sine waves, each wave different in frequency and amplitude. When their frequencies are whole- number multiples of
                                    each other (and in musical sounds, they usually are), those simple waves are called harmonics. A sound’s timbre depends on its harmonic content. The first harmonic—the one with the lowest frequency and usually the greatest
                                    amplitude—determines its pitch. Higher harmonics are often called overtones. Normally, the higher the overtone’s frequency, then the weaker its amplitude. </p>
                                <p>When those harmonics are combined in a musical sound, a single cycle of that sound has a specific shape, which synthesists call a waveform. Just as the frequencies and relative amplitudes of the sound’s harmonics determine
                                    its waveform, the waveform determines the sound’s timbre. </p>
                                <p>Instead of producing sounds acoustically the way vibrating objects do, synthesizers generate electrical signals that are amplified and converted to sound. </p>
                                <p>Just as sound has frequency and amplitude, so does the kind of alternating current produced by a synthesizer. An analog synthesizer’s primary sound source is called an oscillator. </p>
                                <p>The oscillator’s waveform, of course, determines the sound’s harmonic content. Some waveforms are rich in harmonics, while others have relatively few. Depending on the waveform, some overtones may be absent altogether.
                                    Waveforms with lots of overtones, such as sawtooth and square waves, are harmonically the most complex. Waveforms with fewer overtones, such as triangle and narrow pulse waves, are harmonically less complex. </p>
                                <p>Rather than building up waveforms one harmonic at a time, the way a Hammond organ does, analog synthesizers like the Sub 37 provide the means to shape and filter complex, harmonically rich waveforms to selectively remove,
                                    reduce, or emphasize specific harmonics—a technique called subtractive synthesis. </p>
                                <p>The oscillators, filter, modulators, and other parts are connected in the most useful ways for producing and modifying electronic signals that result in sounds. Unlike on a modular synthesizer, many connections between
                                    the Sub 37’s various parts are hardwired, meaning that it is not possible to change the routing of the pathways that connect them. </p>
                                <p>The electrical signals within a synthesizer are either audio signals or control signals, depending on the pathway they follow. Typically, an audio signal begins with an oscillator and passes through the filter on its way
                                    to the audio output. Control signals are used to change things, like the pitch, timbre, waveshape, or loudness of an audio signal. </p>
                                <p>Any time a signal controls something, no matter whether it’s controlling an audio signal or another control signal, we say that it modulates it. In synth-speak, you could say that a steering wheel modulates a car’s direction
                                    and the accelerator pedal modulates its speed. When you play the Sub 37’s keyboard, the key you press modulates the instrument’s pitch. You can modulate filter cutoff by turning a knob manually, or you can apply a control
                                    signal from a low-frequency oscillator or envelope to modulate it electronically. It’s worth noting that a control destination can be modulated by more than one control source.
                                </p>
                                <img class="eventslist-img img-circle pull-left" src="/images/light.jpeg" alt="sub37 panel">
                            </div>
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </article>
            </div>
            <!-- primary -->
        </div>
    </div>
    <!-- container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>
