@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: black;
  background: url(back.jpg);
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(237, 199, 37);
}

p {
  font-family: inherit;
  font-weight: 100;
  color: rgb(229, 233, 208);
  margin-bottom: 10px;
}


li {
  font-family: inherit;
  font-weight: 100;
  color: rgb(229, 233, 208);
}

.eventslist img {
  margin-right: 60px;
  border-radius: 20%;
  margin-bottom: 20px;
}


p.eventslist-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(229, 233, 208);
}


a {
  color: #DD4F53;
}

/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(/images/background.jpeg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  background-color: rgb(30, 32, 30, 0.0);
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}


header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
}

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#speakerList .speakerslist-img {
  margin-right: 20px;
}

.speakerslist-title {
  font-size: 1.7em;
}

#home .speakerslist-title {
  font-size: 1.5em;
}

#speakerDetail .speakerslist-title {
  font-size: 2.4em;
}

#speakerDetail .speakerslist-img {
  margin: 20px 0;
}

.form-control {
  font-weight: 100;
  font-size: 1.7rem;
}

.chat-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #FFEB8B;
}

.jumbotron {
  padding: 20px 0;
  background-color: #FFEB8B;
}

/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: .9em;
  padding: 0 10px;
}

.chat-title {
  color: #FFEB8B;
}

.chat-text {
  color: black;
}

.feedback, .feedback-form-title {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}


.feedback-title {
  font-size: 1.2em;
  color: #FFEB8B;
}

.feedback-form-title {
  font-size: 2em;
}

.feedback-name {
  font-size: .6em;
  font-weight: 100;
  color: #FFEB8B;
}

.feedback-message {
  font-weight: 100;
  font-size: .9em;
  line-height: 120%;
  margin-top: 5px;
  color: white;
}

.feedback-item {
  border-bottom: 1px solid white;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}


/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}

.eventslist img {
  width: 200px;
  height: 200px;
}

label {
  color: #FFEB8B;
}

.keys {
  display:flex;
  flex:1;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: -30px;
}

.key {
  border:2px solid #FFEB8B;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}

    Contact GitHub API Training Shop Blog About
